<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Popular Times</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/copy_popular_times/public/css/style.css"/>
  </head>

  <header class="header navbar-menue has-background-primary">
    <nav class="navbar-end ">
      <a class="navbar-item my-1  button is-primary is-medium" href="../layouts/main.html">Popular Times</a>
    <!-- only if the it is logged in -->
      <a class="navbar-item button my-1 is-primary is-medium" id="logout" >Logout</a>
      <a class="navbar-item button my-1 is-primary is-medium" href="/login">Login / Sign Up</a>
    </nav>
  </header>
  
  <body>

    {{{body}}}

  </body>

  <footer class="footer m-1 p-2 has-background-primary has-text-centered is-size-6 ">
    <p>Popular Times App</p>
    <p>Team Members: Erich, Paul, Cody and Najiba @ DU Bootcamp of 2022-2023</p>
  </footer>
</html>