<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popular Times</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body class="p-3 is-family-sans-serif">
  <header class="header navbar-menue has-background-primary">
  <nav class="navbar-end ">
    <a class="navbar-item my-1  button is-primary is-medium" href="../layouts/main.html">Home</a>
    <!-- only if the it is logged in -->
    <a class="navbar-item button my-1 is-primary is-medium" id="logout" >Logout</a>
    <a class="navbar-item button my-1 is-primary is-medium" href="../login.html">Login</a>
  </nav>
</header>

  <main class="content section is-medium ">
    <div class="main-title has-text-centered">
      <h1 class="is-size-1 ">POPULAR TIMES</h1>
      <img class="center" src="../../public/images/news.jpeg">
    </div>

    <div class="description section has-text-centered is-size-4">
      <p>General Description of our application</p>
    </div>
  
  </main>

  <footer class="footer m-1 p-2 has-background-primary has-text-centered is-size-6 ">
    <p>Popular Times App</p>
    <p>Team Members: Eric, Paul, Cody and Najiba @ DU bootcamp of 2022-2023</p>
  </footer>

  <!-- only when the logout.js is created -->
  <script src="../../public/js/logout.js"></script>
 

</body>

</html>
