<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body class=" p-3 is-family-sans-serif">
    <header class="header navbar-menu has-background-primary">
        <nav class="navbar-start ">
            <a class="navbar-item my-1  button is-primary is-medium" href="./layouts/main.html">Back to Home</a>
        </nav>
    </header>
    <main>

        <div>
            <h2 class="header content is-size-1">Welcome to Popular Times!</h2>
        </div>
        <br>
        <br>

        <section class="popular-articles has-background-grey-light pt-4">
            <div class="content has-text-centered is-size-5">
                <h1>Popular Articles</h1>
            </div>
            <section class="container-form flex-container">
                <div class="card">
                    <p id="card-title"></p>
                </div>

                <div class="card">
                    <div class="card-header-title is-centered is-size-3">{{title}}</div>
                    <img class="card-image" src="{{image}}" alt="{{alt}}">
                    <div class="card-content">{{content}}</div>
                </div>


                <div class="card">
                    <div class="card-header-title is-centered  is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>

                <div class="card">
                    <div class="card-header-title is-centered  is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>

                <div class="card ">
                    <div class="card-header-title is-centered is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>

                <div class="card">
                    <div class="card-header-title is-centered  is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>

                <div class="card">
                    <div class="card-header-title is-centered  is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>

                <div class="card ">
                    <div class="card-header-title is-centered  is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>

                <div class="card ">
                    <div class="card-header-title is-centered  is-size-3">News header</div>
                    <img class="card-image" src="../public/images/news.jpeg" alt="news">
                    <div class="card-content">Content of the news or the article to be fetched</div>
                </div>
            </section>
        </section>

        <section class="saved-articles has-background-grey-lighter">
            <div class="content has-text-centered is-size-5 title-saved-articles ">
                <h1>Saved Articles</h1>
            </div>
            <section class="container-form flex-container">
                <div class="card">item1</div>
                <div class="card">item2</div>
                <div class="card">item3</div>
                <div class="card">item4</div>
                <div class="card">item5</div>
            </section>
        </section>

    </main>

    <footer class="footer m-1 p-2 has-background-primary has-text-centered is-size-6">
        <p>Popular Times App</p>
        <p>Team Members: Eric, Paul, Cody and Najiba @ DU bootcamp of 2022-2023</p>
    </footer>
    <script src="../../popular-times/public/js/script.js"></script>
</body>

</html>

