<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popular Times</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class=" p-3 is-family-sans-serif">

    <main>
        <section class="section is-medium container-form mb-5">

        <form class="form section card login-form mb-5">
            <!-- Sign in Form Header -->
            <h1 class="content is-large card-header-title is-centered login-form">Login</h1>

            <!-- body of form -->
            
            <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" placeholder="Email input" id="email-login">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
            </div>

            <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" placeholder="Password input" id="password-login">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
            </div>
            
            <div class="field is-grouped">
            <div class="control">
                <button class="button is-link " type="submit"  onsubmit="loginFormHandler(event)">Login</button>
            </div>
            </div>
        </form>

        <!-- Signup Form -->
        <form class="form section signup-form card mb-5">
            <!-- Form Header -->
            <h1 class="content is-large card-header-title is-centered ">Sign Up</h1>

            <!-- body of form -->
            <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="Text input" id="username-signup">
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </div>
            </div>
            
            <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" placeholder="Email input" id="email-signup">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
            </div>

            <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" placeholder="Password input" id="password-signup">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
            </div>
            
            <div class="field is-grouped">
            <div class="control">
                <button class="button is-link " type="submit">Sign Up</button>
            </div>
            </div>
        </form>

        </section>

    </main>
    <script src="js/login.js"></script>
</body>