{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popular Times</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class=" p-3 is-family-sans-serif">
  <section class="popular-articles has-background-grey-light pt-4">

    <section class="container-form flex-container">
      <div class="card">
        <p id="card-title"></p>
      </div>

      <div class="card-container">
        {{#each articles}}
        <div class="card"> 
        <div class="card-header-title is-centered is-size-3">{{title}}</div>
        <img class="card-image" src="https://via.placeholder.com/150x150.png?text=No+Image" alt="{{title}}">
        <div class="card-content">{{body}}</div>
        <button class="save-button" data-id="{{id}}">Save</button>
        </div>
        {{/each}}
        </div>

    </section>
  
  </section>



</body>

</html> --}}